
html {
  font-size: 5vw;
}

@media (min-width: 769px) {
  html  {
    font-size: 16px;
  }
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: .025rem;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

a {
  text-decoration: none;
  color: #000;
}

body {
  margin: 1rem;
}

@media (min-width: 769px) {
  body {
    margin: 1rem 20vw
  }
}

img,
figure {
  height: auto;
  width: 100%;
  margin: 0;
}

figure>video {
  width: 100%;
}

p {
  font-size: 1.125rem;
  margin: 0 0 1rem 0;
  color: #080808;
  line-height: 1.666;
}

.logo span {
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  display: block
}

.navigation {
  text-align: center;
  display: none
}

@media (min-width: 769px) {
  .navigation {
    display: block
  }
}

.navigation.open {
  display: block
}

.navigation ul {
  padding: 2rem 0
}

.navigation ul:after,
.navigation ul:before {
  clear: both;
  content: ' ';
  display: block;
  visibility: hidden
}

.navigation ul,
.navigation li {
  margin: 0;
  padding: 1rem;
  list-style-type: none
}

@media (min-width: 769px) {

  .navigation ul,
  .navigation li {
    display: inline-block
  }
}

.navigation a {
  padding: 0 1rem;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

@media (min-width: 769px) {
  .navigation a {
    font-size: 1rem;
    padding: 1rem
  }
}

.brand {
  float: left;
  width: 70%;
}

@media (min-width: 769px) {
  .brand {
    width: 100%;
  }
}

.logo span {
  font-family: 'Pacifico', cursive;
  font-size: 3rem;
  font-weight: 700;
  display: block;
}

@media (min-width: 769px) {
  .logo span {
    text-align: center;
  }
}

.header>button {
  float: right;
  width: 30%;
  border: 0;
  margin: 0.25rem 0;
  display: block;
}
@media (min-width: 769px) {
  .header>button {
    display: none;
  }
}

button, input[type='submit'] {
  padding: 0.75rem 1rem;
  display: inline-block;
  color: #000;
  border: solid 1px #000;
  background: transparent;
  margin-top: 1rem;
  -webkit-appearance: none;
  border-radius: 0;
}